#hmenu {
    line-height: 60px;
    list-style-type: none;
    color: white;
    padding: 0;
}
#hmenu a {
    display: block;
    text-align:center;
    color: white;
    background:#556c81;
}
#hmenu a:link {
    text-decoration:none;
}
#hmenu a:visited {
    text-decoration:none;
}
#hmenu a:hover {
    text-decoration:none;
    font-weight:bold;
}
#hmenu li {
    float: left;
    width: 20%;
}
#hmenu li a:hover {
    color: #FFC76D;
    background:#344f68;
}
#hmenu li ul {
    line-height: 36px;
    list-style-type: none;
    text-align:left;
    left: -999em;
    padding: 0;
    width: 20%;
    position: absolute;
}
#hmenu li ul li {
    float: left;
    width: 180px;
    padding: 0;
}
#hmenu li ul a {
    color: white;
    display: block;
    width: 80%;
    text-align:left;
    padding-left:20%;
    background: #556c81;
}
#hmenu li ul a:link {
    color: white;
    text-decoration:none;
}
#hmenu li ul a:visited {
    color: white;
    text-decoration:none;
}
#hmenu li ul a:hover {
    color: #FFC76D;
    text-decoration:none;
    font-weight:normal;
    background:#344f68;
}
#hmenu li:hover ul {
    left: auto;
    z-index: 1
}