html {
    margin:0;
    padding:0;
    border:0;
    height: 100%;
}
body {
    font-size:15px;
    color: white;
    background-color: #0D2E4C;
    margin-top: 100px;
}
#content {
    width: 70%;
    height: 80%;
    float: left;
    background-color: white;
    margin-left: 10%;
    padding: 10px 30px;
    border-radius: 5px;
}

#rightbar {
    width: 15%;
    /*float*/: right;
    right: 1%;
    background-color: #556c81;
    position: fixed;
}

#blank{
    width: 100%;
    height: 10px;
    float: left;
}