<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="../css/evernote/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/evernote/rightbar.css">
    <link rel="stylesheet" type="text/css" href="../css/evernote/evernote.css">
</head>
<body>
    {% for post in site.posts %}
        <div id="content" class="wrapper">
            <div class="shared-by shared-by-desktop">
                <div class="shared-by-corner"></div>
                {{ post.title }}
            </div>
            <br>
            <br>
            <div id="preview">
                <section id="{{ post.id }}">
                    <div class="vtop">
                        <div class="note-updated">
                            <span>作者: dragondjf</span>
                        </div>
                        <div class="note-updated">
                            <span>时间：{{ post.date | date_to_string }}</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="note-content">
                        {{ post.content }}
                    </div>
                </section>
            </div>
        </div>
    {% endfor %}
    <div id="rightbar">
        <ul id="rightnav">
            <li><a href="#object">对象</a>
                <ul>
                    <li><a href="#object.general">对象使用和属性</a>
                    </li>
                    <li><a href="#object.prototype">原型</a>
                    </li>
                    <li>
                        <a href="#object.hasownproperty">
                            <code>hasOwnProperty</code>函数</a>
                    </li>
                    <li>
                        <a href="#object.forinloop">
                            <code>for in</code>循环</a>
                    </li>
                </ul>
            </li>
            <li><a href="#function">函数</a>
                <ul>
                    <li><a href="#function.general">函数声明与表达式</a>
                    </li>
                    <li>
                        <a href="#function.this">
                            <code>this</code>的工作原理</a>
                    </li>
                    <li><a href="#function.closures">闭包和引用</a>
                    </li>
                    <li>
                        <a href="#function.arguments">
                            <code>arguments</code>对象</a>
                    </li>
                    <li><a href="#function.constructors">构造函数</a>
                    </li>
                    <li><a href="#function.scopes">作用域与命名空间</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">产品</a>
                <ul>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">产品</a>
                <ul>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">产品</a>
                <ul>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript" src="../js/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.0.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>
<script type="text/javascript">
function initrightBar() {
    $("#rightnav>li>a").click(function(event) {
        $("#rightnav>li>a").css('background-color', '#556c81');
        $("#rightnav>li>ul>li>a").css('background-color', '#556c81');

        $(this).parent().children('ul>li>a').css('background-color', '#344f68');
        $(this).css('background-color', '#0D2E4C');
        $("#rightnav>li>ul").hide();
        $(this).parent().children('ul').toggle('slow');
    });
    $("#rightnav>li>a").on('mouseleave', '', function(event) {
        $(this).css('background-color', '#556c81');
    });
    $("#rightnav>li>a").on('mouseenter', '', function(event) {
        $(this).css('background-color', '#344f68');
    });

    $("#rightnav>li>ul>li>a").click(function(event) {
        $("#rightnav>li>ul>li>a").css('background-color', '#556c81');
        $(this).parent().parent().children('li>a').css('background-color', '#344f68');
        $(this).parent().parent().parent().children('a').css('background-color', '#344f68');
        $(this).css('background-color', '#0D2E4C');
    });
    $("#rightnav>li>ul>li>a").on('mouseleave', '', function(event) {
        $(this).css('background-color', '#556c81');
    });
    $("#rightnav>li>ul>li>a").on('mouseenter', '', function(event) {
        $(this).css('background-color', '#344f68');
    });

    $("#rightnav>li>ul").hide();
    $($("#rightnav>li>ul")[0]).show()
}
$(document).ready(function() {
    initrightBar();
});
</script>

</html>
