<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="../css/evernote/layout.css">
    <link rel="stylesheet" type="text/css" href="../css/evernote/rightbar.css">
    <link rel="stylesheet" type="text/css" href="../css/evernote/evernote.css">
</head>
<body>
    {% for post in site.posts %}
    <section id="{{ post.tag }}">
        <div id="content" class="wrapper">
            <div class="shared-by shared-by-desktop">
                <div class="shared-by-corner"></div>
                    {{ post.title }}
            </div>
            <br>
            <br>
            <div id="preview">
                <div class="vtop">
                    <div class="note-updated">
                        <span>作者: dragondjf</span>
                    </div>
                    <div class="note-updated">
                        <span>时间：{{ post.date | date_to_string }}</span>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="note-content">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>
    <div id="blank"></div>
    {% endfor %}

    <div id="rightbar">
        <ul id="rightnav">
            <li><a href="#object"></a>
                <ul>
                    {% for post in site.posts %}
                    <li><a href="#{{ post.tag }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#function">函数</a>
                <ul>
                    <li><a href="#function.general">函数声明与表达式</a>
                    </li>
                    <li>
                        <a href="#function.this">
                            <code>this</code>的工作原理</a>
                    </li>
                    <li><a href="#function.closures">闭包和引用</a>
                    </li>
                    <li>
                        <a href="#function.arguments">
                            <code>arguments</code>对象</a>
                    </li>
                    <li><a href="#function.constructors">构造函数</a>
                    </li>
                    <li><a href="#function.scopes">作用域与命名空间</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">产品</a>
                <ul>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">产品</a>
                <ul>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">产品</a>
                <ul>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                    <li><a href="#">产品一</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
    <script type="text/javascript" src="../js/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../js/application.js"></script>
</html>
